.header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  padding: 8px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.tabs-wrapper{
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: bold;
  margin-right: 16px;
  font-size: larger;
  cursor: pointer;
}
.title:hover {
  border-bottom: 1px solid var(--primary-color);
}

.toggle-switch {
  margin-left: auto;
  position: relative;
  background-color: var(--glass-bg);
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 4px;
  transition: background-color 0.3s;
}

.toggle-switch:hover {
  background-color: var(--glass-bg);
  box-shadow: 0 8px 32px var(--shadow-color);
}

.header-content {
  margin-left: 8px;
  font-weight: bold;
}

.new-tab-button {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0px;
  height: 24px;
  width: 24px;
  margin-right: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: large;
}
.new-tab-button:hover {
  border: 1px solid var(--shadow);
}

.tabs-bar {
  display: flex;
  align-items: center;
  overflow-x: auto;
  font-size: smaller;
  margin-top: -6px;
  border-radius: 25px;
  background-color: var(--glass-bg);
  border: 1px dotted var(--shadow-color);
}

.tab {
  padding: 6px 10px;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab:hover {
  box-shadow: 0 8px 32px var(--shadow-color);
}

.tab.active {
  background-color: var(--primary-color);
  font-weight: bold;
  color: #fff;
}

.close-btn {
  margin-left: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}
