.page-wrapper {
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 8px;
    background-color: var(--glass-bg);
}

.json-editor-viewer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    display: flex;
    width: 88vw;
    gap: 2vw;
    height: calc(100vh - 180px);
}

.toolbar {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.toolbar button {
    margin-right: 10px;
    padding: 4px 10px;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.main-section {
    display: flex;
    flex-direction: column;
    width: 38vw;
    flex: 1;
}

.json-input {
    height: 79vh;
    font-size: 14px;
    padding: 10px;
    white-space: pre;
    border-radius: 8px;
    resize: none;
    overflow-y: auto;
    background-color: var(--glass-bg);
    border: 1px solid var(--dot-color);
}

.has-error {
    border-color: var(--primary-color);
}

.error-msg {
    border: 1px solid red;
    color: red;
}

.json-output,
.error-msg {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    overflow-x: auto;
    width: 38vw;
    height: 80vh;
    border: 1px solid var(--dot-color);
}

.key {
    color: #005cc5;
}

.value.string {
    color: #032f62;
}

.value.number {
    color: #005cc5;
}

.value.boolean {
    color: #d73a49;
}

.value.null {
    color: #6a737d;
}

.colon {
    color: #24292e;
}

.comma {
    color: #24292e;
    margin-right: 5px;
}

.bracket {
    color: #24292e;
    font-weight: bold;
}

.toggle {
    color: #6f42c1;
    cursor: pointer;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .json-editor-viewer {
        flex-direction: column;
        justify-content: center;
    }

    .main-section,
    .json-output,
    .error-msg {
        width: 74vw;
        height: 40vh;
        ;
    }
}