.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  background-color: #2d2d2d;
  color: #ccc;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 8px;
  align-items: center;
  padding: 0 10px;
  font-size: 10px;
  z-index: 1000;
  border-top: 1px solid #444;
  user-select: none;
}
.footer strong {
  color: #fff;
  font-weight: 400;
}
.github-link{
  position: fixed;
  left: 1vw;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 4px;
}
a {
  color: inherit;
  text-decoration: none;
}